html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add Bootstrap */
@import '~bootstrap/scss/bootstrap';

/* Add Custom Angular Material Theme */
@import '~@angular/material/theming';
@include mat-core();

$stellar-app-primary: mat-palette($mat-deep-purple);
$stellar-app-accent: mat-palette($mat-amber, 200, 100, 300);
$stellar-app-warn: mat-palette($mat-red);

$stellar-app-theme: mat-light-theme($stellar-app-primary, $stellar-app-accent, $stellar-app-warn);
@include angular-material-theme($stellar-app-theme);

@import './assets/styles/global';
@import './assets/styles/stellar-search';
@import './assets/styles/donut-factory';
