.donut-factory {

	&__conveyor-belt {
		height: 200px;
		width: 1190px;
		position: relative;
		background: url('~src/assets/images/conveyor-belt.png') left top;

		&-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	&__donut {
		position: absolute;
		// left: 75px;
		top: -90px;
		height: 225px;
		width: 225px;

		&:nth-child(1) {
			animation-duration: 5s;
			animation-name: moveleft1;
			left: 875px;

			@keyframes moveleft1 {
				from {
					left: 75px;
				}

				to {
					left: 875px;
				}
			}
		}

		&:nth-child(2) {
			animation-duration: 4s;
			animation-name: moveleft2;
			left: 675px;

			@keyframes moveleft2 {
				from {
					left: 75px;
				}

				to {
					left: 675px;
				}
			}
		}

		&:nth-child(3) {
			animation-duration: 3s;
			animation-name: moveleft3;
			left: 475px;

			@keyframes moveleft3 {
				from {
					left: 75px;
				}

				to {
					left: 475px;
				}
			}
		}

		&:nth-child(4) {
			animation-duration: 2s;
			animation-name: moveleft4;
			left: 275px;

			@keyframes moveleft4 {
				from {
					left: 75px;
				}

				to {
					left: 275px;
				}
			}
		}

		&:nth-child(5) {
			left: 75px;
		}

		&--plain {
			background: url('~src/assets/images/plain-donut.png') left top;
		}
	}
}
